.roundMDiv {
    background:rgba(32, 128, 240, 0.12);
    color:#66B3FF;
}
.roundCDiv {
    background:rgba(255, 102, 102, 0.12);
    color:#ff6666;
}
.roundODiv {
    background:rgba(31, 202, 188, 0.12);
    color:#1FCABC;
}
.roundFont {
    font-size:10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.inputDiv {
    display: flex;
    align-items: center;
    gap: 12px;
}
.headerButton {
    font-weight: 400 !important;
    font-size: 13px !important;
}
.inputDiv select {
    border-radius: 6px;
    font-size: 13px !important;
}

.webSiteDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0px 8px;
    background-color: #EDF2F7;
    font-size: 14px;
    color: #a1a1aa;
    border-radius: 0.375rem;
    cursor: pointer;
}
